<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Gallery App</h1>
  <h2>Login</h2>
  {{#if error}}
    <p style="color: red;">{{error}}</p>
  {{/if}}
  <form method="post" action="/login">
    <label>Email:</label>
    <input type="text" name="email" placeholder="Enter your email" required>
    <br>
    <label>Password:</label>
    <input type="password" name="password" placeholder="Enter your password" required>
    <br>
    <button type="submit">Login</button>
  </form>
</body>
</html>